@import "../Variables.scss";
.qrcard {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: block;
}
.qrcard__contentWrapper {
  padding: 30px;
}
.qrcard__title {
  font-size: 20px !important;
  text-align: center;
  text-transform: uppercase;
  padding: 30px 0 0;
  margin-bottom: 0 !important;
}
.qrcard__storeName {
  font-size: 30px;
  text-align: center;
  padding-bottom: 15px;
}
.qrcard__canvas {
  text-align: center;
  border: 1px solid $grisLight;
  width: 258px;
  height: 258px;
  margin: 0 auto 50px;
  border-radius: 5px;
  canvas,
  svg {
    border: 10px solid transparent;
  }

  .is-hidden {
    display: none;
  }
}
