.qrcard {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: block;
}
.qrcard__contentWrapper {
  padding: 10px;

}
.qrcard__title {
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;
}
.qrcard__storeName {
  font-size: 18px;
  text-align: center;
  padding-bottom: 35px;
}
.qrcard__canvas {
  text-align: center;
}
